<div class="hero">
 
    <div class="leaf">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
    </div>

    <div class="btnContainer">
        <button class="button" routerLink="/message">Click Here To Explore More</button>
    </div>

</div>