<div class="hero">

    <div class="sign">
        <span class="fast-flicker">Hey!! </span>  <br> <br>
         Vish <br>  <span class="flicker"> <br> <br> <br> <br> papa</span> <br><br><br><br> <br> 
      </div>
 
    <div class="leaf">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
        <img src="/../assets/heart.png">
    </div>

    <div class="btnContainer">
        <button class="button" routerLink="/cardLetter">Click Here To Explore More</button>
    </div>

</div>